@import '../../styles/vars.scss';
.task {
  display: flex;
  padding: 16px;
  align-items: center;
  &__status {
    min-width: 16px;
    min-height: 16px;
    border: 1px solid $border;
    box-sizing: border-box;
    border-radius: 4px;
    margin-right: 8px;
  }
  &__status--completed {
    background-color: $primary;
    background-image: url('../../img/icon-ch.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
  &__text {
    color: $text;
    font-size: 14px;
    line-height: 19px;
  }
  &__status--completed + &__text {
    color: $gray;
    text-decoration-line: line-through;
  }
  &__buttons {
    display: flex;
    margin-left: auto;
    padding-left: 10px;
  }
}
.task-button {
  &__edit {
    margin-right: 10px;
  }
}
.button {
  background-color: inherit;
  border: initial;
  padding: 0;
}
