$text-black: #000000;
$text: #373737;
$primary: #550dc9;
$error: #ff6363;
$gray: #a3a3a3;
$border: #ececec;
$palceholder: #cacaca;
$second-primary: #440ba0;
$mobile-width: 320px;
$tablet-width: 660px;
$desktop-width: 1200px;
$main-font: 'OpenSans', 'Arial', sans-serif;
