@import '../../styles/vars.scss';
.page-header {
  padding: 15px;
  display: flex;
  align-items: center;
  &__logo {
  }
  &__text {
    margin-left: 40px;
    color: $text-black;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
  }
  &__user {
  }
}
.header-user {
  margin-left: auto;
  display: flex;
  align-items: center;
  &__name {
    font-size: 14px;
    line-height: 19px;
    color: $text;
    margin-right: 8px;
  }
  &__icon {
    width: 32px;
    height: 32px;
    background-image: url('../../img/user.png');
    background-size: cover;
    margin-right: 11px;
  }
  &__button {
    width: 7px;
    height: 4px;
    background-image: url('../../img/user-toggler.svg');
    background-size: cover;
  }
}
